<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf8">
        <title>login Success page</title>
    </head>
    <body>
        <h1>login success</h1>
        <div><p>사용자 아이디: <% =user_id %></p></div>
        <div><p>사용자 이름: <% =user_name %></p></div>
        <br><br>
        <a href='/process/addUserPage'>유저 추가 하기</a>
        <a href='/process/userListPage'>유저 확인 하기</a>
        <a href='/process/userPermissionPage'>유저 승인 하기</a>
        <a href='/process/logout'>로그아웃 하기</a>
    </body>
</html>